# Better Auth
BETTER_AUTH_SECRET=08df1edb-769b-08cb-21ce-b91a9b023844
BETTER_AUTH_URL=http://localhost:3000

# OAuth providers (server-side only)
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
X_CLIENT_ID=
X_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
